@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins";
    background-color: #121212;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

li {
    cursor: pointer;
}

.container {
    max-width: 1200px
}

.label {
    position: relative;
}


.togglediv {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: all 1s ease;

}

#toggle {
    display: none;
}

input:checked~div {
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    max-height: 100vh;

}

.customRadio {
    -webkit-appearance: none;
    appearance: none;
}

.customLabel {
    position: relative;
}

.customLabel::before {
    content: "";
    width: 24px;
    height: 24px;
    border: 2px solid #797980;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: '#121212';
    border-radius: 4px;
}

.customRadio:checked+label::after {
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: #04B856;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}